In [2]:
import pandas as pd

In [3]:
#1
data = {
    'name':['둘리', '또치', '도우너', '희동이'],
    'kor':[90, 80, 70, 70],
    'eng':[99, 98, 97, 46],
    'mat':[90, 70, 70, 60],
}
df = pd.DataFrame(data)
df['class'] = ['1반', '2반', '1반', '2반']
print(df)

  name  kor  eng  mat class
0   둘리   90   99   90    1반
1   또치   80   98   70    2반
2  도우너   70   97   70    1반
3  희동이   70   46   60    2반

In [4]:
#2
df.loc[4] = ['마이콜', 80, 80, 80, '1반']
print(df)

  name  kor  eng  mat class
0   둘리   90   99   90    1반
1   또치   80   98   70    2반
2  도우너   70   97   70    1반
3  희동이   70   46   60    2반
4  마이콜   80   80   80    1반

In [5]:
#3
df.set_index('name', inplace = True)
df.columns = ['국어', '영어', '수학', '반번호']
print(df)

      국어  영어  수학 반번호
name
둘리    90  99  90  1반
또치    80  98  70  2반
도우너   70  97  70  1반
희동이   70  46  60  2반
마이콜   80  80  80  1반

In [6]:
#4
df.loc['마이콜', ['국어', '영어', '수학']] = 100
df.loc['희동이', ['영어']] = 90
print(df)

       국어   영어   수학 반번호
name
둘리     90   99   90  1반
또치     80   98   70  2반
도우너    70   97   70  1반
희동이    70   90   60  2반
마이콜   100  100  100  1반

In [7]:
#5
df = df.reset_index()
df.rename(columns = {'name' : '성명'}, inplace = True)
print(df)

    성명   국어   영어   수학 반번호
0   둘리   90   99   90  1반
1   또치   80   98   70  2반
2  도우너   70   97   70  1반
3  희동이   70   90   60  2반
4  마이콜  100  100  100  1반

In [8]:
#6
#(1) 국어 성적 높은 순
df1 = df.sort_values(by = '국어', ascending = False)
print(df1)

print('\n')

#(2) 영어 성적 낮은 순
df2 = df.sort_values(by = '영어', ascending = True)
print(df2)

    성명   국어   영어   수학 반번호
4  마이콜  100  100  100  1반
0   둘리   90   99   90  1반
1   또치   80   98   70  2반
2  도우너   70   97   70  1반
3  희동이   70   90   60  2반


    성명   국어   영어   수학 반번호
3  희동이   70   90   60  2반
2  도우너   70   97   70  1반
1   또치   80   98   70  2반
0   둘리   90   99   90  1반
4  마이콜  100  100  100  1반

In [9]:
#7
df['총점'] =  df.sum(axis = 1)
df = df.sort_values(by = '총점', ascending = False)
print(df)

    성명   국어   영어   수학 반번호   총점
4  마이콜  100  100  100  1반  300
0   둘리   90   99   90  1반  279
1   또치   80   98   70  2반  248
2  도우너   70   97   70  1반  237
3  희동이   70   90   60  2반  220

In [ ]:
#8
df3 = df.drop('반번호', axis = 1)
print(df3)
print('\n')
print(df)

In [ ]:
#9
df4 = df.drop(4, axis = 0)
print(df4)
print('\n')
print(df)

In [ ]:
#10 => 오류(모르겠음)
import numpy as np

data1 = {'kor':90, 'mat':80}
data2 = {'kor':90, 'eng':70}
data3 = {'kor':90, 'eng':70, 'mat':80}
series1 = pd.Series( data1, 'eng':np.nan )
series2 = pd.Series( data2, 'mat':np.nan )
series3 = pd.Series( data3 )
result = series1 + series2 + series3
print(result)

#10=> 정답
import pandas as pd
import numpy as np
data1 = {'kor':90, 'mat':80}
data2 = {'kor':90, 'eng':70}
data3 = {'kor':90, 'eng':70, 'mat':80}
series1 = pd.Series( data1 )
series2 = pd.Series( data2 )
series3 = pd.Series( data3 )
print(series1+series2+series3)
print("===========================")
result = series1.add(series2, fill_value=0)
result = result.add(series3, fill_value=0)
print(result)

In [ ]:
#11
data = {
    'X1':[2.9, 2.4, 2, 2.3, 3.2],
    'X2':[9.2, 8.7, 7.2, 8.5, 9.6],
    'X3':[13.2, 11.5, 10.8, 12.3, 12.6],
    'X4':[2, 3, 4, 3, 2]
} 
df = pd.DataFrame(data, index=['Y1','Y2','Y3', 'Y4', 'Y5'])
df.loc['Y6'] = [10.0, 20.0, 30.0, 40]
print(df)
print('\n')
df = df + 10
print(df)
print('\n')
df['total'] = df.sum(axis = 1)
print(df)
print('\n')
df = df.transpose()
print(df)